.card__container {
  color: white;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &-degree {
    display: flex;
    justify-content: center;
    flex-direction: row;
    &-current {
      font-size: 50px;
      margin: 0 5px;
    }
    &-others {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 30px;
      }

      &-maxMin {
        p {
          font-size: 18px;
        }
      }
    }
  }

  &-footer {
    ul {
      display: flex;
      li {
        align-items: center;
        border-right: 1px solid white;
        display: flex;
        height: 20px;
        padding: 0 5px;
        span {
          p {
            margin: 5px 0;
          }
          p:first-child {
            color: rgba(255, 255, 255, 0.712);
          }

          p:last-child {
            font-size: 12px;
          }
        }
      }
      li:last-child {
        border: none;
      }
    }
  }

  &-icon {
    img {
      width: 100px;
    }
  }

  &.rainy {
    background: linear-gradient(0deg, #596170 0%, #3e4554 100%);
    .card__container-footer {
      li {
        border-right: 1px solid rgba(122, 122, 122, 0.808);
        span {
          p:first-child {
            color: rgba(194, 194, 194, 0.808);
          }
        }
        &:last-child {
          border: none;
        }
      }
    }
  }

  &.snowy {
    background: linear-gradient(
      0deg,
      rgb(228, 228, 228) 0%,
      rgb(255, 255, 245) 100%
    );
    color: black;
    .card__container-title,
    .card__container-footer {
      p {
        color: black;
        &:first-child {
          color: rgba(0, 0, 0, 0.514);
        }
      }
    }
    .card__container-footer {
      li {
        border-right: 1px solid rgba(122, 122, 122, 0.808);
        &:last-child {
          border: none;
        }
      }
    }

    header {
      a {
        color: black;
      }
    }
  }

  &.sunny {
    background: linear-gradient(
      0deg,
      rgb(3, 152, 182) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  &-title {
    font-size: 20px;
    p {
      color: rgb(236, 236, 236);
    }
  }

  &-weather-period {
    margin-bottom: 10%;
    ul {
      display: flex;
      li {
        margin: 0 3px;
      }
    }
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px 20px;
    a {
      color: white;
    }
  }
}

@media (min-width: 750px) {
  .card__container {
    &-degree {
      &-current {
        font-size: 60px;
      }
      &-others {
        p {
          font-size: 25px;
        }

        &-maxMin {
          padding: 8px 0;
          p {
            font-size: 18px;
          }
        }
      }
    }

    &-footer {
      ul {
        li {
          padding: 0 20px;
          span {
            p:first-child {
              font-size: 18px;
            }
            p:last-child {
              font-size: 14px;
            }
          }
        }
      }
    }

    &-title {
      font-size: 30px;
    }

    &-weather-period {
      margin-bottom: 4%;
      ul {
        li {
          margin: 0 15px;
          div {
            font-size: 20px;
            img {
              width: 70px;
            }
          }
        }
      }
    }
    header{
      margin: 40px 100px;
    }
  }
}

@media (min-width: 1200px) {
  .card__container {
    header{
      margin: 40px 400px;
    }
  }
}
