.card__container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;

  &-degree {
    display: flex;
    justify-content: center;
    flex-direction: row;
    &-current {
      font-size: 50px;
      margin: 0 5px;
    }
    &-others {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p:first-child {
        margin-bottom: 10px;
      }
    }
  }

  &-footer {
    ul {
      display: flex;
      li {
        align-items: center;
        border-right: 1px solid white;
        display: flex;
        height: 20px;
        padding: 0 10px;
        span {
          p {
            margin: 5px 0;
          }
          p:first-child {
            color: rgba(255, 255, 255, 0.808);
          }

          p:last-child {
            font-size: 15px;
          }
        }
      }
      li:last-child {
        border: none;
      }
    }
  }

  &-icon {
    img {
      width: 100px;
    }
  }

  &.other-codition {
    background: linear-gradient(
      0deg,
      rgb(3, 152, 182) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  &.rainy {
    background: linear-gradient(0deg, #596170 0%, #3e4554 100%);
    .card__container-footer {
      li {
        border-right: 1px solid rgba(122, 122, 122, 0.808);
        span {
          p:first-child {
            color: rgba(194, 194, 194, 0.808);
          }
        }
      }
      li:last-child {
        border: none;
      }
    }
  }

  &.snowy {
    background: linear-gradient(
      0deg,
      rgb(187, 187, 187) 0%,
      rgb(230, 230, 230) 100%
    );
    color: black;
    .card__container-title,
    .card__container-footer {
      p {
        color: black;
      }
    }
    .card__container-footer {
      li {
        border-right: 1px solid rgba(122, 122, 122, 0.808);
      }
    }
  }

  &.sunny {
    background: linear-gradient(
      0deg,
      rgb(3, 152, 182) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  &-title {
    font-size: 30px;
    p {
      color: rgb(236, 236, 236);
    }
  }

  &-weather-day {
    margin-bottom: 5%;
    ul {
      display: flex;
      li {
        margin: 0 5px;
      }
    }
  }
}
