.home__container {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;

  &-globe {
    margin: 20px 0;
    img {
      width: 200px;
    }
  }

  &-title {
    p {
      color: rgb(166, 165, 165);
      font-size: 20px;
    }
  }
}

@media (min-width: 750px) {
  .home__container {
    &-globe {
      img {
        width: 300px;
      }
    }

    &-title {
      font-size: 30px;
      p {
        font-size: 25px;
      }
    }
  }
}
